<ion-header>
  <ion-toolbar>
    <ion-title>Eco Solution Information Update</ion-title>
    <ion-buttons slot="primary" (click)="dismissModal()" class="ion-padding-end">
      <ion-label color="primary">
        Close
      </ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!solutionDetail">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-container>
  <ng-container *ngIf="solutionDetail">

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Star: {{solutionDetail.star+1}}</ion-label>
        <ion-range min="0" max="4" step="1" snaps="true" [(ngModel)]="solutionDetail.star"> </ion-range>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name: </ion-label>
        <ion-textarea rows="1" [(ngModel)]="solutionDetail.name"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Section: </ion-label>
        <ion-select [(ngModel)]="solutionDetail.section">
          <ion-select-option *ngFor="let item of selectionList" [value]="item.sectionName">
            {{ item.sectionName }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Solution Detail: </ion-label>
        <ion-textarea rows="6" [(ngModel)]="solutionDetail.detail"></ion-textarea>
      </ion-item>
      <ion-button expand="block" id="button" (click)="save()">Save Changes</ion-button>
    </ion-list>

  </ng-container>

</ion-content>