<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <app-slides></app-slides> -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-content><app-slides></app-slides></ion-content> -->

  <ion-list>
    <ion-item >
      <ion-content><app-slides></app-slides></ion-content>
    </ion-item>

    <ion-item>
      <ion-content><app-slides></app-slides></ion-content>
    </ion-item>
  </ion-list>

  <p>
    Popover with text example
    <ion-button size="small" shape="round" color="medium" (click)="notifications()">  
      <ion-icon name="help"></ion-icon>
    </ion-button>
  </p>
  <!-- <section>
    <app-slides></app-slides>
  </section> -->
  <!-- <app-slides></app-slides> -->
</ion-content>