.logo{
    text-align: center;
}
.level{
    padding-bottom: 50px;
    display: inline;
}
.section{
    padding-bottom: 50px;
    display: inline;
}
.solution{
    display: inline;
}
#center{
    text-align: center;
}
.lvl{
    text-align: right;
}
.menu{
    text-align: right;
}
