<ion-header>
  <ion-toolbar>
    <ion-title> ECO Tracker Input</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 

<h1 class ="logo">
  <img src="../assets/icon/cyclops.png"/>

  <div>
    Solution
  </div>
    

  </h1>

  <form [formGroup]="myForm">

    <div class="level">
      <h2 id="leveletag">Level</h2>

    </div>

    <div class="section">
      <h2 id="sectiontag">Section</h2>

    </div>

    <div class="solution">
      <h2 id="solutiontag">Solution</h2>

    </div>







  </form>


</ion-content>
