<ion-header>
  <ion-toolbar>
    <ion-title> ECO Tracker Input</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 

<h1 class ="logo">
  <img src="../assets/icon/cyclops.png"/>

  <div>
    Solution
  </div>
    

  </h1>

  <form [formGroup]="myForm">

    <div class="level">
      <h3 id="leveltag">Star Level</h3>

    <ion-list>
      <ion-item >
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    </div>

    <div class="section">
      <h3 id="sectiontag">Section</h3>

      <ion-list>
        <ion-item >
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </div>

    <div class="solution">
      <h3 id="solutiontag">Solution</h3>

      <ion-list>
        <ion-item >
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </div>

    <div class="stars">

    </div>

    <p id="center">
      <ion-button size="small" shape="round"  color="tertiary" class="ion-margin-top">Submit Solution</ion-button>
    </p>







  </form>


</ion-content>
