<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backArticle()" color="primary">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="contents">
      <p>Editing "{{contents.title}}"</p>
    </ion-title>
    <ion-title *ngIf="!contents">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-title>
    <ion-button slot="end" color="light" fill="outline" (click)="saveChangesToCloud()" *ngIf="needSaving">
      <ion-icon name="cloud-upload-outline" color="primary"></ion-icon>
      <ion-label color="primary">&nbsp;&nbsp;Save</ion-label>
    </ion-button>
    <ion-button slot="end" color="light" fill="outline" *ngIf="!needSaving">
      <ion-icon name="cloud-upload-outline" color="medium"></ion-icon>
      <ion-label color="medium">&nbsp;&nbsp;Saved</ion-label>
    </ion-button>
  </ion-toolbar>

  <div *ngIf="!contents">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

</ion-header>

<ion-content>

  <ion-accordion-group multiple="true" id="multiple" *ngIf="contents">
    <ng-container *ngFor = "let segmentItem of contents.segment;let indexOfelement=index;">
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>{{segmentItem.segmentTitle}}</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item>
            <div [innerHTML] = "segmentItem.segmentBody"></div>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ng-container>

  </ion-accordion-group>

</ion-content>

