.custome-image {
    max-height: 20vh;
}

@media (max-width: 767px) {
}
@media (min-width: 768px) {
    .custome-image {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
}
.displayArea {
    max-width: 1440px;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}
