<p>
  article-main works!
</p>

<!-- <ion-list *ngFor ="let content of contentCol3">
  <ion-item id = "testList"> 
      <ion-card color='light' routerLink = "/tabs/page-space-me/{{content.id}}" >
          <img src="{{content.image}}" />
          <ion-card-header>
              <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
              <ion-card-title>{{content.title}}</ion-card-title>
          </ion-card-header>

          <ion-card-content  >
              {{content.cardIntroduction}} 
          </ion-card-content>
      </ion-card>
  </ion-item>
</ion-list> -->
