<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Editing Tool Demo </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-chip *ngFor="let segmentItem of contents[articleId].segment" (click)="onChipClick()">
      <ion-label color="dark">{{segmentItem.segmentTitle}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>Add Segment</ion-label>
      <ion-icon name="add-circle-outline" color="danger"></ion-icon>
    </ion-chip>
  </ion-toolbar>



</ion-header>

<ion-content class="ion-padding">


  <p>
    Text Editing Space for "{{contents[articleId].title}}" section ""
  </p>


  <ckeditor [(ngModel)]="model.editorData" [editor]="Editor" (change)="onChange($event)"></ckeditor>
</ion-content>