<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  
  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="username" >Welcome! {{this.authService.getUserEmail()}}</ion-label>
      </div>
      <!-- <div *ngIf="userData.photoURL == null" class="user_back" [style.backgroundImage]="'url(../../../assets/default-user-image.png)'"></div>
      <div *ngIf="userData.photoURL != null" class="user_back" [style.backgroundImage]="'url({{userData.photoURL}})'"></div>  -->   
    </div>

    <div class ="content_div">
      <div class="test_details" routerLink="/tabs/EcoTracker">
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-text style="text-align:center; font-size:200%;">Overall Score</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col *ngIf="userEcoScore !=  undefined && solutionTotalScore != undefined">
              <h4 style="text-align:center; font-size:300%" *ngIf="solutionTotalScore == 0">{{userEcoScore}}</h4>
              <h4 style="text-align:center; font-size:300%" *ngIf="solutionTotalScore != 0">{{userEcoScore}} / {{solutionTotalScore}}</h4>
            </ion-col>

            <ion-col *ngIf="userEcoScore ==  undefined || solutionTotalScore == undefined">
              <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="odisplay2">
                <ion-icon name="star"></ion-icon>
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- <ion-card routerLink="/tabs/page-space-su" color='light' style="height:50%;padding-top: 15%;">
        <ion-card-header>
            <ion-card-subtitle style="text-align:center; font-size:200%;">Overall Score</ion-card-subtitle>
            <ion-card-title fontsize>
                <div class="odisplay">
                    <div class="odisplay1" *ngIf="this.authService.isLogin()">
                        <h4 style="text-align:center; font-size:300%" fontsize>{{userEcoScore}}</h4>
                        <div class="odisplay2">
                            <ion-icon name="star"></ion-icon>
                        </div>
                    </div>
                    <div class="odisplay1" *ngIf="!this.authService.isLogin()">
                        <ion-text style="text-align:center; font-size:150%; font-weight: 700;" >
                            Please Login to Continue 
                             
                        <ion-text style="text-align:center; font-size:150%; font-weight: 700;" button routerLink="/login" color="primary">Login</ion-text>

                        </ion-text>
                    </div>                       
                </div>
            </ion-card-title>
        </ion-card-header>
    </ion-card> -->

      <ng-container *ngIf="this.authService.isAdmin()">
        <div class="list_div" routerLink="/edit-survey">
          <ion-label>Edit Survey</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
        </div>
      </ng-container>

      <ng-container *ngIf="!this.authService.isAdmin()">
        <div class="list_div" routerLink="/edit-survey">
          <ion-label>All Survey</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
        </div>
      </ng-container>

      <ng-container *ngIf="this.authService.isAdmin()">
        <div class="list_div" routerLink="/display-feedback">
          <ion-label>All Feedback</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
        </div>
      </ng-container>

      <ng-container *ngIf="!this.authService.isAdmin()">
        <div class="list_div" routerLink="/display-feedback">
          <ion-label>My Feedback</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
        </div>
      </ng-container>
     
      <!-- <div class="list_div" (click)="this.editUsername()">
        <ion-label>Edit User Name</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div> -->

      <div class="list_div" routerLink="/reset-password">
        <ion-label>Reset My Password</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div>

      <div class="list_div" (click)="this.authService.SignOut()">
        <ion-label>Sign-out</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </div>

     
    </div>
    


  </div>

</ion-content>
