<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  
  <div class="main_content_div">

    <div class="user_div">
      <div class="first_div">
        <ion-label class="username" *ngIf="userData.displayName == null">{{userData.email}}</ion-label>
        <ion-label class="username" *ngIf="userData.displayName != null">{{name}}</ion-label>
      </div>
      <div *ngIf="userData.photoURL == null" class="user_back" [style.backgroundImage]="'url(../../../assets/default-user-image.png)'"></div>
      <div *ngIf="userData.photoURL != null" class="user_back" [style.backgroundImage]="'url({{userData.photoURL}})'"></div>    
    </div>

    <div class ="content_div">
      <div class="test_details">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-card>Eco-tracker over there</ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card>Eco-tracker over there</ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card>Eco-tracker over there</ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card>Eco-tracker over there</ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="list_div" routerLink="/display-feedback">
        <ion-label>View Feedback</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div>

      <div class="list_div" (click)="this.editUsername()">
        <ion-label>Edit User Name</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div>

      <div class="list_div" >
        <ion-label>Edit Profile photo</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div>

      <div class="list_div" routerLink="/reset-password">
        <ion-label>Reset My Password</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
      </div>

      <div class="list_div" (click)="this.authService.SignOut()">
        <ion-label>Sign-out</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      </div>

     
    </div>
    


  </div>

</ion-content>
