<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="!isDesktop">

    <ion-tab-button tab="page-space-er">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-space-la">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-space-su">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Eco Tracker</ion-label>
    </ion-tab-button>
  </ion-tab-bar>



    <ion-tab-bar slot="top" *ngIf="isDesktop" >

    

        <ion-tab-button tab="page-space-er" class="tabsize">
         
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="page-space-la" class="tabsize">
         
          <ion-label>Articles</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="page-space-su" class="tabsize">
         
          <ion-label>Eco Tracker</ion-label>
        </ion-tab-button>


    
  
    </ion-tab-bar>

   


</ion-tabs>


















