<ion-tabs *ngIf="!isDesktop">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="page-space-er">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-space-la">
      <ion-icon name="reader"></ion-icon>
      <ion-label>Articles</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page-space-su">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Eco Tracker</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>



<div *ngIf="isDesktop" class="desktop">
  <ion-header mode="ios">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <div class="navbar" class="ion-text-center">
            <ion-button fill="clear" routerLink="/tabs/page-space-er" routerDirection="root" routerLinkActive="active-link"
              class="link">
              Home
            </ion-button>
            <ion-button fill="clear" routerLink="/tabs/page-space-la" routerDirection="root" routerLinkActive="active-link"
              class="link">
              Articles
            </ion-button>
            <ion-button fill="clear" routerLink="/tabs/page-space-su" routerDirection="root" routerLinkActive="active-link"
              class="link">
              Eco Tracker
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

 
  <ion-router-outlet class="desktop-wrapper"></ion-router-outlet>

</div>





