<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="font-size: 150%;">Articles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- your code here -->
    <!-- Searchbar with a cancel button and custom cancel button text -->
    <ion-searchbar placeholder="Search Article" showCancelButton="focus" cancelButtonText="Cancel" animated='true'>
    </ion-searchbar>
    <div  id='requested'>
        <!-- <ion-label color="primary">Primary Label</ion-label> -->

        <ion-list id = 'viewContentTest' *ngFor ="let cardContent of contents" >
            <ion-item #listItem>
                <ion-card color='light' routerLink = "/tabs/page-space-me/{{cardContent.id}}">
                    <ion-card-header>
                        <ion-card-subtitle>{{cardContent.subtitle}}</ion-card-subtitle>
                        <ion-card-title>{{cardContent.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{cardContent.cardIntroduction}} 
                    </ion-card-content>
                </ion-card>
            </ion-item>
            

        </ion-list>
    </div>








    <div id='origin'>

        <ion-segment [(ngModel)]="status" scrollable>
            <ion-segment-button value="Articles p1">
                <ion-label text-wrap>Laying the Foundation</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Articles p2">
                <ion-label text-wrap>Main Sections</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Articles p3">
                <ion-label text-wrap>Bonus Rounds</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- <ion-icon id="filter" name="switch"></ion-icon> -->


        <div [ngSwitch]="status">
            <div *ngSwitchCase="'Articles p1'">
                <ion-list>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic1.jpg" />
                            <ion-card-header>
                                <ion-card-subtitle>Climate Change and Biodiversity Loss</ion-card-subtitle>
                                <ion-card-title>Introduction</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named
                                the capital of the Wisconsin Territory in 1836.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic2.jpg" />
                            <ion-card-header>
                                <ion-card-title>Resources and the Economy</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Changing the way we interact with nature is essential to avoid further climate change
                                and biodiversity loss – but there’s more to it than that. Transitioning our societies
                                into more sustainable ones helps secure a stable future, by ensuring that everything we
                                do, we can do forever.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic3.jpg" />
                            <ion-card-header>
                                <ion-card-title>Fossil Fuels</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                While the next few sections of ‘Laying the Foundation’ are focused on energy, it’s
                                important to understand that polluting energy sources are just one part of the problem.
                                We’ll go over numerous examples in the main sections – but for now, just remember that
                                it’s not only about how we produce energy – it’s also about what we use it for.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/mine.jpg" />
                            <ion-card-header>
                                <ion-card-title>Mining</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Mining is an extremely important primary industry that supports our modern societies during development. 
                                Mining is the first step before building, expanding, and growing civilizations. 
                                It’s also the backbone of the modern global economy, since inventing new products is one of the main drivers of growth in our societies.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/renew.jpg" />
                            <ion-card-header>
                                <ion-card-title>Renewables</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Renewable energy will help us decarbonize our atmosphere, but all technologies have their limits. 
                                In this section, we’ll take a look at some of the most popular renewable solutions to find these limitations – in terms of environmental impacts and energy generation potential. 
                                Overall, renewable energy alone won’t help make our societies sustainable. If we want to attain sustainability, renewables will help – but are only one part of the solution. 
                                The much, much larger part will be reducing our impacts by consuming less of the world’s resources – by lowering both our energy and material demands.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngSwitchCase="'Articles p2'">
                <ion-list>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic2.jpg" />
                            <ion-card-header>
                                <ion-card-subtitle>Reduce, Reuse, Recycle</ion-card-subtitle>
                                <ion-card-title>The 3 Rs</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                The 3 ‘R’s are the general rules we need to follow to reduce our impacts on the
                                environment, at any scale. We’ll see in other sections that these rules are central
                                pillars to lowering consumption across all sectors of our societies.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic4.jpg" />
                            <ion-card-header>
                                <ion-card-title>Temperature Control</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                We could extensively limit the need for reactive control with better preventive
                                equipment and techniques. Not only would that help lower our energy bills, it would also
                                help decrease residential energy demand considerably.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic6.jpg" />
                            <ion-card-header>
                                <ion-card-title>Transportation</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Transportation accounted for 28% of global final energy demand in 2017 and roughly 23%
                                of global CO2 emissions in 2018. Since vehicles are extremely energy intensive and
                                polluting, the transportation sector is an innovator’s dream.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngSwitchCase="'Articles p3'">
                <ion-list>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic5.jpg" />
                            <ion-card-header>
                                <ion-card-title>Pollution</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                While many view climate change, biodiversity loss,
                                and pollution as 3 distinct yet interconnected parts of
                                the environmental crisis, we decided to split pollution within
                                the first 2 sub-crises. Seeing that pollution usually forces one of climate change or
                                biodiversity loss, it seems redundant to consider it separately. Nonetheless, we’ll
                                quickly review pollution here to understand how different types of waste infiltrate and
                                damage the environment.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/pic3.jpg" />
                            <ion-card-header>
                                <ion-card-title>Population and Education</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                Once the majority of us clue in that we can’t live without nature, we’ll start making
                                decisions that make sense. Unfortunately, the world has other problems than just the
                                environmental crisis right now – but nothing that better education and increased sharing
                                of our resources can’t fix. Simply put, better education will help an increasing
                                population shape a better future for itself.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    <ion-item>
                        <ion-card color='light'>
                            <img src="../assets/resp.jpg" />
                            <ion-card-header>
                                <ion-card-title>Inequality and Responsibility</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                This section is unique in the sense that it evaluates our environmental impacts from a different perspective. 
                                In previous sections, the ‘blame’ for the environmental crisis was split between governments, companies, and individuals – and large-scale solutions were presented as the most important ones.

                                While that remains true, this section evaluates our impacts by shifting all the ‘blame’ onto individuals instead. 
                                This will help us find out which ‘categories’ of individuals have the highest impacts on the environment due to their unsustainable purchases and habits – even though this 100%-consumer-at-fault assumption isn’t very fair.
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>

            </div>

            <div *ngSwitchDefault>
                <ion-list *ngFor ="let content of contentCol2">
                    <ion-item> 
                        <ion-card color='light' routerLink = "/tabs/page-space-me/{{content.id}}" >
                            <img src="{{content.image}}" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>
                            <!-- <ion-card-content *ngFor ="let intro of content.segment | slice:0:1" >
                               {{intro.segmentBody}} 
                            </ion-card-content> -->

                            <ion-card-content  >
                                {{content.cardIntroduction}} 
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    
                </ion-list>
            </div>
        </div>
    </div>


</ion-content>