#requested {
    display: "none";
}

.readArticles ion-progress-bar {
    width: 27vw;
    min-width: 50px;
    margin-left: 20px;
    margin-right: 8px;
}



.editDisplay {
    min-width: 500px;
    ion-button {
        display: none;
    }
}

.editDisplay:hover {
    min-width: 500px;
    ion-button {
        display: block;
    }
}