<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="font-size: 150%;">Articles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- your code here -->
    <!-- Searchbar with a cancel button and custom cancel button text -->
    <ion-searchbar [(ngModel)]="userInput" placeholder="Search Article" showCancelButton="focus" cancelButtonText="Cancel" animated='true'>
    </ion-searchbar>
    <div  id='requested'>
        <!-- <ion-label color="primary">Primary Label</ion-label> -->

        <ion-list id = 'viewContentTest' *ngFor ="let cardContent of contents  | filter:userInput" >
            <ion-item id = "listItem">
                <ion-card color='light' routerLink = "/tabs/page-space-me/{{cardContent.id}}">
                    <ion-card-header>
                        <ion-card-subtitle>{{cardContent.subtitle}}</ion-card-subtitle>
                        <ion-card-title>{{cardContent.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{cardContent.cardIntroduction}} 
                    </ion-card-content>
                </ion-card>
            </ion-item>
            

        </ion-list>
    </div>


    <div id='origin'>

        <ion-segment [(ngModel)]="status" scrollable>
            <ion-segment-button value="Articles p1">
                <ion-label text-wrap>Laying the Foundation</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Articles p2">
                <ion-label text-wrap>Main Sections</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Articles p3">
                <ion-label text-wrap>Bonus Rounds</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- <ion-icon id="filter" name="switch"></ion-icon> -->


        <div [ngSwitch]="status">
            <div *ngSwitchCase="'Articles p1'">
                <ion-list *ngFor ="let content of contentCol1">
                    <ion-item id = "testList"> 
                        <ion-card color='light' routerLink = "/tabs/page-space-me/{{content.id}}" >
                            <img src="{{content.image}}" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>

                            <ion-card-content  >
                                {{content.cardIntroduction}} 
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngSwitchCase="'Articles p2'">
                <ion-list *ngFor ="let content of contentCol2">
                    <ion-item id = "testList"> 
                        <ion-card color='light' routerLink = "/tabs/page-space-me/{{content.id}}" >
                            <img src="{{content.image}}" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>

                            <ion-card-content  >
                                {{content.cardIntroduction}} 
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                </ion-list>
            </div>

            <div *ngSwitchCase="'Articles p3'">
                <app-article-main></app-article-main>
            </div>

            <div *ngSwitchDefault>
                <ion-list *ngFor ="let content of contentCol1">
                    <ion-item id = "testList"> 
                        <ion-card color='light' routerLink = "/tabs/page-space-me/{{content.id}}" >
                            <img src="{{content.image}}" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>

                            <ion-card-content  >
                                {{content.cardIntroduction}} 
                            </ion-card-content>
                        </ion-card>
                    </ion-item>
                    
                </ion-list>
            </div>
        </div>
    </div>


</ion-content>