<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-button class="phone" *ngIf="this.authService.isAdmin()" slot="end" (click)="addSurvey()" color="light">
      <ion-icon name="log-in-outline" color="primary"></ion-icon>
      <p>Add Survey</p>
    </ion-button>

    <ion-title>Survey List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div *ngIf="!survey">
      <ion-card>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-card>
    </div>

    <ng-container class="app-display" *ngIf="survey">
      <ng-container *ngIf="this.authService.isAdmin()">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let data of survey">

              <ion-fab horizontal="end" vertical="top">
                <ion-fab-button color="light">
                    <ion-icon name="reorder-four-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-list side="bottom">              
                    <ion-fab-button >
                        <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button (click)="deleteSurvey(data.docId)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab-list>
              </ion-fab>

              <ion-router-link href="{{data.surveyLink}}" color="dark">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    {{data.surveyLink}}
                  </ion-card-content>
                </ion-card>
              </ion-router-link>

            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="block" id="button-web" (click)="addSurvey()">Add Survey</ion-button>
      </ng-container>


      <ng-container *ngIf="!this.authService.isAdmin()">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let data of survey">

              <ion-router-link href="{{data.surveyLink}}" color="dark">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-router-link>

            </ion-col>
          </ion-row>
        </ion-grid>
       
      </ng-container>

    </ng-container>
    
  </ion-list>
</ion-content>