<ion-header>
    <ion-toolbar>
        <ion-title style="font-size: 150%;">
            ECO Tracker
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
    <ion-card color='light' id="card1" class="card-web">
        <ion-card-header>
            <ion-card-subtitle style="text-align:center; font-size:150%;">Overall Score</ion-card-subtitle>
            <ion-card-title fontsize>
                <div class="odisplay">
                    <div class="odisplay1"><h4 style="text-align:center; font-size:300%" fontsize>{{profile.updatedscore}}</h4></div>
                    <div class="odisplay2"><ion-icon  name="leaf"></ion-icon></div>
                </div>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
        </ion-card-content>
    </ion-card>

    <div id="button-web">
        <section id="surveycenter">
            <ion-button expand="block" (click)="openModal()">Submit New Solution</ion-button>
        </section>
    </div>


    <ion-grid>
        <div class="isection">
            <h1>{{profile.section}}</h1>
        </div>
        <ion-row>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
                <ion-card color='light' id="card1">
                    <ion-card-header>
                        <ion-card-subtitle>
                            <span class="text">
        <div class="sdisplay">
            <div class="sdisplay1"><h4 style="text-align:center; font-size:250%" fontsize>{{profile.rating}}</h4></div>
            <div class="sdisplay2"><ion-icon  name="leaf"></ion-icon></div>
        </div>
      </span>
                            <p id="right">
                                <ion-button class="round" size="small" shape="round" color="medium" (click)="notifications()">
                                    <ion-icon name="help"></ion-icon>
                                </ion-button>
                            </p>
                        </ion-card-subtitle>

                        <ion-card-title style="text-align:center; font-size:150%" fontsize>{{profile.solution}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-progress-bar color="primary" value="0.4"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
                <ion-card color='light' id="card1">
                    <ion-card-header>

                        <ion-card-subtitle>
                            <span class="text">
        <div class="sdisplay">
            <div class="sdisplay1"><h4 style="text-align:center; font-size:250%" fontsize>{{profile.updatedscore}}</h4></div>
            <div class="sdisplay2"><ion-icon  name="leaf"></ion-icon></div>
        </div>
      </span>
                            <p id="right">
                                <ion-button slot="end" class="round" size="small" shape="round" color="medium" (click)="notifications()">
                                    <ion-icon name="help"></ion-icon>
                                </ion-button>
                            </p>
                        </ion-card-subtitle>

                        <ion-card-title style="text-align:center; font-size:150%" fontsize>{{profile.solution}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- <div id="button-web">
        <section id="surveycenter">
            <ion-button expand="block">Survey(peer testing 2)</ion-button> -->
            <!-- <ion-button expand="block" (click)="goSurvey()" >Survey(peer testing 2)</ion-button> -->
        <!-- </section>
    </div> -->

    

</ion-content>