// #surveycenter{
//     text-align: center;
// }
// #card1{
//     padding-left: 3%;
//     padding-right: 3%;
//     border-radius: 20px 20px 20px 20px;
//     -moz-border-radius: 20px 20px 20px 20px;
//     -webkit-border-radius: 20px 20px 20px 20px;
//     border: 0px solid #000000;
//     //https://www.cssmatic.com/border-radius
//     -webkit-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     -moz-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
// }
// #card2{
//     padding-left: 3%;
//     padding-right: 3%;
//     border-radius: 10px 10px 10px 10px;
//     -moz-border-radius: 10px 10px 10px 10px;
//     -webkit-border-radius: 10px 10px 10px 10px;
//     border: 0px solid #000000;
//     //https://www.cssmatic.com/border-radius
//     -webkit-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     -moz-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
// }
// #card1OutSide{
//     text-align: center;
// }
// .round {
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     vertical-align: middle;
//     --padding-start: 10px;
//     --padding-end: 10px;
//   }
//   .text{
//     display: inline-block;
//     vertical-align: middle;
//   }
//   #right{
//     display: inline-block;
//     vertical-align: middle;
//     float: right;
//   }
//   #center{
//     text-align: center;
//   }
//   #ecotitle{
//     text-align: center;
//   }
//   #button {
//     padding-left: 15%;
//     padding-right: 15%;
//     text-align: center;
// }
@media (min-width: 820px) {
    #button-web {
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
    }
    .card-web {
        max-width: 40%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.sectionHandle:hover{
    ion-button{
        display: block;
    }
}

.sectionHandle{
    ion-button{
        display: none;
    }
}

.solutionHandle:hover {
    p{
        display: none;
    }
    ion-button{
        display: block;
    }
}


.solutionHandle{
    min-height: 500px;
    p{
        display: block;
    }
    ion-button{
        display: none;
    }
}
// .solutionEditButton {
//     display: none;
// }

.isection {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.sdisplay {
    overflow: hidden;
    /* add this to contain floated children */
    text-align: center;
}

.sdisplay1 {
    display: inline-block;
}

.sdisplay2 {
    display: inline-block;
    font-size: 175%;
    padding-left: 5px;
    color: #ffca28;
}

.odisplay {
    overflow: hidden;
    /* add this to contain floated children */
    text-align: center;
}

.odisplay1 {
    display: inline-block;
}

.odisplay2 {
    display: inline-block;
    font-size: 200%;
    padding-left: 5px;
    color: #ffca28;
}

.solution {
    height: 340px;
}

@media (max-width: 575px) {
    .web-display {
        display: none;
    }
}

@media (min-width: 576px) {
    .mobile-display {
        display: none;
    }
}

@media (min-width: 1200px) {
    .ecoCardItem {
        size: 3;
    }
}
@media (max-width: 1200px) and (min-width: 501px) {
    .ecoCardItem {
        size: 4;
    }
}

@media (max-width: 500px) and (min-width: 0px) {
    .ecoCardItem {
        size: 6;
    }
}
.center-text {
    text-align: center;
 }

