<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div *ngIf="!feedback">
      <ion-card>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-card>
    </div>


    <ng-container *ngIf="feedback && this.authService.isAdmin()">
      <ion-card *ngFor="let data of feedback " routerLink="/display-feedback-details/{{data.docId}}" >
        <ion-card-header>
          <ion-card-title>{{data.articleTitle}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{data.content}}
        </ion-card-content>

        <ion-card-content *ngIf="data.agree">
          Has contact Info
        </ion-card-content>

        <ion-card-content *ngIf="!data.agree">
          No contact Info
        </ion-card-content>
      </ion-card>

    </ng-container>


    <ng-container *ngIf="feedback && !this.authService.isAdmin()">
      <ng-container *ngFor="let data of feedback ">
        <ion-card *ngIf="data.userUid == userData.uid"  routerLink="/display-feedback-details/{{data.docId}}">
          <ion-card-header>
            <ion-card-title> {{data.articleTitle}}</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            {{data.content}}
          </ion-card-content>
        </ion-card>

      </ng-container>
      

    </ng-container>




  </ion-list>



</ion-content>