<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div *ngIf="!feedback">
      <ion-card>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-card>
    </div>


    <ng-container class="app-display" *ngIf="feedback">
      <ng-container *ngIf="this.authService.isAdmin()">
        <ion-grid>
          <ion-row>
            <ion-col  size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngFor="let data of feedback ">
              <ion-card routerLink="/display-feedback-details/{{data.docId}}">
                <ion-card-header>
                  <ion-card-title>{{data.articleTitle}}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  {{data.content}}
                </ion-card-content>

                <ion-card-content *ngIf="data.agree">
                  Has contact Info
                </ion-card-content>

                <ion-card-content *ngIf="!data.agree">
                  No contact Info
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>

      <ng-container *ngIf="!this.authService.isAdmin()">
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4"  *ngFor="let data of feedback ">
                <ion-card *ngIf="data.userUid == userData.uid" routerLink="/display-feedback-details/{{data.docId}}">
                  <ion-card-header>
                    <ion-card-title> {{data.articleTitle}}</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    {{data.content}}
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ng-container>

    </ng-container>





  </ion-list>



</ion-content>