



<ion-card id="card1" style=" margin-left: 10%; margin-right: 10%;">
  <ion-card-header>
    <ion-card-subtitle style=text-align:center >Overall Score</ion-card-subtitle>
    <ion-card-title style="text-align:center; font-size:400%" fontsize >80%</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
  </ion-card-content>
</ion-card>




<ion-card id="card1" style=" margin-left: 10%; margin-right: 10%;">
  <ion-card-header>
    <ion-card-subtitle style="font-size:150%; margin-top: 2%; margin-left: -5%;" >Solution 1</ion-card-subtitle>
    <ion-card-title style="text-align:center; font-size:400%" fontsize >40%</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-progress-bar color="primary" value="0.4"></ion-progress-bar>
  </ion-card-content>
</ion-card>
