<ion-app>

    <ion-split-pane contentId="main" class="invis" no-border>
        <!--  the side menu  -->
        <ion-menu contentId="main" no-lines>

         
         

          <ion-content>

            <div class="split">

            <ion-item lines="none" button href ="page-space-er" routerDirection="root"><ion-icon name="compass"></ion-icon>Home</ion-item>
            <ion-item lines="none" button href ="page-space-la" routerDirection="root"><ion-icon name="reader"></ion-icon>Articles</ion-item>
            <ion-item lines="none" button href ="page-space-su" routerDirection="root"><ion-icon name="leaf"></ion-icon>Eco</ion-item>

                
            </div>


          </ion-content>

          
        </ion-menu>
      
        <!-- the main content -->
        <ion-router-outlet id="main"></ion-router-outlet>
      </ion-split-pane>

</ion-app>
