ion-segment {
    height: 100px;
}
.split{
    position: absolute !important;
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -23px !important;
}
.split-pane-visible > .split-pane-side {
    border-right: none !important;
}

.menu-inner ion-content {
    border-right: 1px solid #dedede;
}