<!-- <ion-header>
    <ion-toolbar>
      <ion-title> ECO Tracker Input</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
  
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h1 id ="logo">
    <img src="../assets/icon/cyclops.png"/>

  </h1>

  <form [formGroup]="myForm">
    

    <h3 id="slab">Solution 1</h3>

    <ion-item>
      <ion-label position="stacked">Task 1 Completed</ion-label>
      <ion-input formControlName="task"  type="text" [(ngModel)]="usereco.solution"></ion-input>
    </ion-item>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.task.errors?.required">
        Enter Task.
       </span>
       <span class="error" *ngIf="submitted && errorCtr.task.errors?.pattern">
        Task input must be text only.
       </span>
    </p>
    <ion-item>
      <ion-label position="stacked">Solution 1 Score</ion-label>
      <ion-input formControlName="score"  type="tel" [(ngModel)]="usereco.score" ></ion-input>
    </ion-item>
    <p id="err"s>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.required">
        Score is Required.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.pattern">
        Score must be a number.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.max">
        Score must be a number between 1-100.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.min">
        Score must be a number between 1-100.
      </span>
    </p>

    <h1 id ="logo">
      <img src="../assets/icon/cyclops.png"/>
  
    </h1>
    

    <h3 id="slab">Solution 2</h3>

    <ion-item>
      <ion-label position="stacked">Task 2 Completed</ion-label>
      <ion-input formControlName="task1"  type="text" [(ngModel)]="usereco.solution1"></ion-input>
    </ion-item>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.task1.errors?.required">
        Enter Task.
       </span>
       <span class="error" *ngIf="submitted && errorCtr.task1.errors?.pattern">
        Task input must be text only.
       </span>
    </p>
    <ion-item>
      <ion-label position="stacked">Solution 2 Score</ion-label>
      <ion-input formControlName="score1"  type="tel" [(ngModel)]="usereco.score1" ></ion-input>
    </ion-item>
    <p id="err"s>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.required">
        Score is Required.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.pattern">
        Score must be a number.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.max">
        Score must be a number between 1-100.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.min">
        Score must be a number between 1-100.
      </span>
    </p>
    <p id="center">
      <ion-button size="small" shape="round"  color="tertiary" class="ion-margin-top" (click)="onSolution()">Submit</ion-button>
    </p>

   

  </form>




</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title> ECO Tracker Input</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 

  <h1 class ="logo">
    <img src="../assets/icon/cyclops.png"/>

    <div>
      Solution Input Form
    </div>
    
    

  </h1>
    <div class="proceed">
      <p>Select a Section to begin:</p>
    </div>
    



  <form [formGroup]="myForm" >

    <ion-list>
      <ion-item>
        <ion-label> <h2 id="leveltag">Article Section</h2></ion-label>
        <ion-select  okText="Okay" cancelText="Dismiss" formControlName="Select_Section" (ionChange)="selectedSection($event)" (ionChange)="getSolutionsForSelectedSections($event.target.value)" name="Section" placeholder="Sections">
        <ion-select-option *ngFor="let se of sections">{{se}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.Select_Section.errors?.required">
        Please Select a Section
       </span>
    </p>
  
    <ion-list>
      <ion-item *ngIf="solution && solution.length > 0">
        <ion-label> <h2 id="leveltag">Article Solution</h2></ion-label>
        <ion-select  okText="Okay" cancelText="Dismiss" formControlName="Select_Solution" (ionChange)="selectedSolution($event)" name="Solution" placeholder="Solutions">
        <ion-select-option *ngFor="let s of solutions">{{s}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.Select_Solution.errors?.required">
        Please Select a Solution
       </span>
    </p>
    
    <div class="level">

    <div class="menu">
      <ion-list>
        <ion-item >
          <ion-label> <h2 id="leveltag">Star Weighting</h2></ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="selectedLevel($event)" formControlName="Select_Level" placeholder="Select Score Level">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <p id="err">
        <span class="error" *ngIf="submitted && errorCtr.Select_Level.errors?.required">
          Please Select a Star Level
         </span>
      </p>
    </div>

    </div>

    <!-- <div class="stars">

      <p>Enter Rating Below:</p>
    
      <ion-icon name = "leaf"style="zoom:2.0;" *ngFor="let num of [1,2,3,4,5]"
        (click)="rate(num)" [ngStyle]="{'color':getColor(num)}">
      </ion-icon>
     
      <p id="err">
        <span class="error" *ngIf="submitted && errorCtr.Select_Rating.errors?.required">
          Please Select a Rating
         </span>
      </p>

    </div> -->

    <div class="range">
      <div class="workdone">
        <h5>Slide to Select a Solution Completion Score:</h5>
        <p>0 : Not doing it or No decision</p><p>1 - 3 : Working on it!</p> <p>4 - 5 : Doing it!</p>
      </div>
        <ion-range deounce='500' min="0" max="5" step="1" value="1" formControlName="Select_Range" (ionChange)="rangeChange($event)" pin="true" snaps="true" grid="true" snaps color="success">
          <ion-icon slot="start" size="small" color="success" name="leaf"></ion-icon>
          <ion-icon slot="end" color="success" name="leaf"></ion-icon>
        </ion-range>
    </div>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.Select_Range.errors?.required">
        Please Select a Value from Range Input
       </span>
    </p>

    <p id="center">
      <ion-button size="small" shape="round"  color="tertiary" class="ion-margin-top" (click)="onSolution()">Submit Solution</ion-button>
    </p>







  </form>
  


</ion-content>


