<!-- <ion-header>
    <ion-toolbar>
      <ion-title> ECO Tracker Input</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
  
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <h1 id ="logo">
    <img src="../assets/icon/cyclops.png"/>

  </h1>

  <form [formGroup]="myForm">
    

    <h3 id="slab">Solution 1</h3>

    <ion-item>
      <ion-label position="stacked">Task 1 Completed</ion-label>
      <ion-input formControlName="task"  type="text" [(ngModel)]="usereco.solution"></ion-input>
    </ion-item>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.task.errors?.required">
        Enter Task.
       </span>
       <span class="error" *ngIf="submitted && errorCtr.task.errors?.pattern">
        Task input must be text only.
       </span>
    </p>
    <ion-item>
      <ion-label position="stacked">Solution 1 Score</ion-label>
      <ion-input formControlName="score"  type="tel" [(ngModel)]="usereco.score" ></ion-input>
    </ion-item>
    <p id="err"s>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.required">
        Score is Required.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.pattern">
        Score must be a number.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.max">
        Score must be a number between 1-100.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score.errors?.min">
        Score must be a number between 1-100.
      </span>
    </p>

    <h1 id ="logo">
      <img src="../assets/icon/cyclops.png"/>
  
    </h1>
    

    <h3 id="slab">Solution 2</h3>

    <ion-item>
      <ion-label position="stacked">Task 2 Completed</ion-label>
      <ion-input formControlName="task1"  type="text" [(ngModel)]="usereco.solution1"></ion-input>
    </ion-item>
    <p id="err">
      <span class="error" *ngIf="submitted && errorCtr.task1.errors?.required">
        Enter Task.
       </span>
       <span class="error" *ngIf="submitted && errorCtr.task1.errors?.pattern">
        Task input must be text only.
       </span>
    </p>
    <ion-item>
      <ion-label position="stacked">Solution 2 Score</ion-label>
      <ion-input formControlName="score1"  type="tel" [(ngModel)]="usereco.score1" ></ion-input>
    </ion-item>
    <p id="err"s>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.required">
        Score is Required.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.pattern">
        Score must be a number.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.max">
        Score must be a number between 1-100.
      </span>
      <span class="error" *ngIf="submitted && errorCtr.score1.errors?.min">
        Score must be a number between 1-100.
      </span>
    </p>
    <p id="center">
      <ion-button size="small" shape="round"  color="tertiary" class="ion-margin-top" (click)="onSolution()">Submit</ion-button>
    </p>

   

  </form>




</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title> ECO Tracker Input</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 

  <h1 class ="logo">
    <img src="../assets/icon/cyclops.png"/>

    <div>
      Solution
    </div>
    

  </h1>


  <form [formGroup]="myForm">
    
    <div class="level">

    <div class="menu">
      <ion-list>
        <ion-item >
          <ion-label> <h1 id="leveltag">Star Level</h1></ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" placeholder="Select Score Level">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    </div>

    <div class="section">
      <div class="menu">
        <ion-list>
          <ion-item >
            <ion-label> <h1 id="leveltag">Section</h1></ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" placeholder="Select Section">
              <ion-select-option value="1">Food</ion-select-option>
              <ion-select-option value="2">Fossil Fuels</ion-select-option>
              <ion-select-option value="3">Mining</ion-select-option>
              <ion-select-option value="4">Transportation</ion-select-option>
              <ion-select-option value="5">Temperature Control</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="solution">
      <div class="menu">
        <ion-list>
          <ion-item >
            <ion-label> <h1 id="leveltag">Solution</h1></ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss" placeholder="Select Solution">
              <ion-select-option value="1">Reduce Meat Consumption</ion-select-option>
              <ion-select-option value="2">Forget about the labels</ion-select-option>
              <ion-select-option value="3">Try New things</ion-select-option>
              <ion-select-option value="4">Find your high-impact foods</ion-select-option>
              <ion-select-option value="5">Grow a Garden</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="stars">

      <p>Enter Rating Below:</p>
      <ion-icon name = "leaf" style="zoom:2.0;" *ngFor="let num of [1,2,3,4,5]"
      (click)="rate(num)" [ngStyle]="{'color':getColor(num)}">
      </ion-icon>

    </div>

    <p id="center">
      <ion-button size="small" shape="round"  color="tertiary" class="ion-margin-top" (click)="onSolution()">Submit Solution</ion-button>
    </p>







  </form>
  


</ion-content>


