<ion-header>
    <ion-toolbar>
        <span disable="true" class="hidden-lg-down" slot="start">
            <ion-icon src="../assets/icon/cyclops_temp.svg" id="cIcon"> </ion-icon>
        </span>
        <ion-title style="font-size: 95%;">
            <p style="text-align: left;">
                CyclopediApp
            </p>
        </ion-title>
        <ion-button class="phone" *ngIf="!authService.isLogin()" slot="end" routerLink="/login" color="light">
            <!--<ion-icon name="log-in-outline" color="primary"></ion-icon>-->
            <ion-text color="primary">
                <p style="font-size: 65%;">Login</p>
            </ion-text>
        </ion-button>
        <ion-button class="phone" *ngIf="!authService.isLogin()" slot="end" routerLink="/registration" color="primary">
            <!--ion-icon name="sign-up-outline" color="light"></ion-icon>-->
            <p style="font-size: 65%;">Sign up</p>
        </ion-button>


    </ion-toolbar>
</ion-header>

<div class="phone">
    <div *ngIf="authService.isLogin()">
        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button color="light">
                <ion-icon name="person-circle-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-list side="bottom">
                <ion-fab-button>
                    <ion-icon name="person-circle-outline" routerLink="/user-profile"></ion-icon>
                </ion-fab-button>
                <ion-fab-button>
                    <ion-icon name="remove-circle-outline" (click)="this.authService.SignOut()"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </div>
</div>




<ion-content class="ion-padding">
    <div class="ionMaxContent">
        <div class="mobile-display">
            <!-- first section begin -->

            <ion-slides pager="true">
                <ion-slide routerLink="welcome-message">
                    <div style="margin-bottom: 5%;">
                        <p>
                            “The best time to plant a tree was 20 years ago. The second best time is now. The second best time is now 20 years ago.”
                            <br> Proverb
                        </p>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>

        <ng-container *ngIf="authService.isLogin()">
            <h1>For you</h1>
            <ion-row>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngIf="readProgressImg==undefined">
                    <ion-card>
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-card>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngIf="readProgressImg!=undefined" (click)="forYouRoute()">
                    <ion-card [routerLink]="['/tabs/SelectedArticle/' , latestRead]" color='light' style="height:100%">
                        <img [src]="readProgressImg" style="width: 690px; height:200px; object-fit: cover" />
                        <ion-card-header>
                            <ion-card-subtitle [innerHTML]="readProgressHeader"></ion-card-subtitle>
                            <ion-card-title [innerHTML]="readProgressTitle"></ion-card-title>
                        </ion-card-header>
                        <ion-card-content [innerHTML]="readProgressIntro">
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4">
                    <!-- <ion-card routerLink="/tabs/page-space-su" color='light' style="height:100%;padding-top: 15%;">
                    <ion-card-header>
                        <ion-card-subtitle style="text-align:center;">Your ECO progress</ion-card-subtitle>
                        <ion-card-subtitle style="text-align:center; font-size:300%;">Overall Score
                        </ion-card-subtitle>
                        <ion-card-title style="text-align:center; font-size:550%" fontsize>80%</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
                    </ion-card-content>
                </ion-card> -->
                    <ion-card *ngIf="userEcoScore ==  undefined || solutionTotalScore == undefined">
                        <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    </ion-card>
                    <ion-card class="center" routerLink="/tabs/EcoTracker" color='light' *ngIf="userEcoScore !=  undefined && solutionTotalScore != undefined">
                        <ion-card-header>
                            <ion-card-subtitle style="text-align:center; font-size:200%;">Overall Score
                            </ion-card-subtitle>
                            <ion-card-title fontsize>
                                <div class="odisplay">
                                    <div class="odisplay1" *ngIf="this.authService.isLogin() && solutionTotalScore == 0">
                                        <h4 style="text-align:center; font-size:300%" fontsize>{{userEcoScore}}</h4>
                                        <div class="odisplay2">
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </div>
                                    <div class="odisplay1" *ngIf="this.authService.isLogin() && solutionTotalScore != 0">
                                        <h4 style="text-align:center; font-size:300%" fontsize>{{userEcoScore}} / {{solutionTotalScore}}</h4>
                                        <div class="odisplay2">
                                            <ion-icon name="star"></ion-icon>
                                        </div>
                                    </div>
                                    <div class="odisplay1" *ngIf="!this.authService.isLogin()">
                                        <ion-text style="text-align:center; font-size:150%; font-weight: 700;">
                                            Please Login to Continue

                                            <ion-text style="text-align:center; font-size:150%; font-weight: 700;" button routerLink="/login" color="primary">Login</ion-text>

                                        </ion-text>
                                    </div>
                                </div>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-card>

                </ion-col>
            </ion-row>

        </ng-container>





        <h1>Newest Survey</h1>
        <ng-container *ngIf="!survey">
            <ion-card>
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ion-card>
        </ng-container>

        <ng-container *ngIf="survey">
            <ion-slides [options]="slideOptsOne" class="web-display">
                <ion-slide class="surveyCard-web">
                    <ion-grid>
                        <ion-row>
                            <ion-col size-sm="4" size-md="3" size-lg="2" *ngFor="let data of survey">
                                <ion-card id="card1" color='light'>
                                    <ion-card-header>
                                        <a href="{{data.surveyLink}}" color="dark">

                                            <!-- target="_blank" rel="noopener noreferrer" -->
                                            <!-- The rel attribute sets the relationship between your page and the linked URL. 
                                            Setting it to noopener noreferrer is to prevent a type of phishing known as tabnabbing. -->
                                            <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                                        </a>
                                    </ion-card-header>
                                </ion-card>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-slide>
            </ion-slides>


            <ion-slides [options]="slideOptsOne" class="mobile-display">
                <ion-slide class="surveyCard-mobile" *ngFor="let data of survey">
                    <ion-card color='light'>
                        <ion-card-header>
                            <a href="{{data.surveyLink}}" color="dark">
                                <!--  target="_blank" rel="noopener noreferrer"  -->
                                <ion-card-title>{{data.surveyTitle}}</ion-card-title>
                            </a>
                        </ion-card-header>
                    </ion-card>
                </ion-slide>
            </ion-slides>

        </ng-container>




        <!-- seconed section end (content) -->

        <!-- third section begin (title) -->


        <!-- third section end (content) -->
        <!-- [options]="slideOptsOne" -->
        <!-- fourth section begin (title) only when user not logged in -->
        <ng-container *ngIf="!authService.isLogin()">
            <h1>Start Reading</h1>
            <!-- fourth section end (title) -->

            <!-- third section begin (content) -->
            <div *ngIf="articles" class="mobile-display">
                <ion-slides pager="true" id="newsetArticle">
                    <ion-slide *ngFor="let content of articles | slice:0:3 ">
                        <ion-card class="article-card" color='light' routerLink="/tabs/SelectedArticle/{{content.docId}}">
                            <img src="{{content.image}}" style="width: 690px; height:200px; object-fit: cover" />
                            <ion-card-header>
                                <ion-card-subtitle>{{content.subtitle}}</ion-card-subtitle>
                                <ion-card-title>{{content.title}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                {{content.cardIntroduction}}
                            </ion-card-content>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div>
            <div *ngIf="articles" class="web-display">
                <ion-slides pager="true" id="newsetArticle">
                    <ion-slide>
                        <ion-grid>
                            <ion-row>
                                <ion-col *ngFor="let content of articles | slice:0:3 ">
                                    <ion-card class="article-card" color='light' routerLink="/tabs/SelectedArticle/{{content.docId}}">
                                        <img src="{{content.image}}" />
                                        <ion-card-header>
                                            <ion-card-title>{{content.title}}</ion-card-title>
                                        </ion-card-header>
                                        <ion-card-content>
                                            {{content.cardIntroduction}}
                                        </ion-card-content>
                                    </ion-card>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-slide>
                </ion-slides>
            </div>
            <div *ngIf="!articles">
                <!-- <ion-spinner></ion-spinner> -->
                <ion-card>
                    <!-- <ion-spinner></ion-spinner> -->

                    <ion-progress-bar type="indeterminate"></ion-progress-bar>
                    <!-- <ion-skeleton-text animated></ion-skeleton-text> -->

                </ion-card>
            </div>
        </ng-container>
        <ion-text class="web-display" style="text-align: justify;padding: 10%;">
            <h1>“The best time to plant a tree was 20 years ago. The second best time is now.”</h1>
            <p>Hello there! Welcome to CyclopediApp. Here, we explore the numerous industries and habits that contribute to the environmental crisis, especially through climate change and biodiversity loss. CyclopediApp is meant to inform anyone of these
                issues, equip them with reliable facts, and suggest concrete solutions to the common question: “Well how can I possibly help the environment?” We will give overviews of each issue and how they impact the environment, and explore all that
                can be done by businesses, communities, cities, and countries around the world. While large-scale solutions are certainly the most important ones, we will also provide solutions for individuals that want to reduce the impacts of their
                everyday lives.</p>
            <p>In the next version of CyclopediApp, you will be able to measure your progress as you explore the various issues and solutions – and contribute to change at the larger scales. CyclopediApp will also have multiple features that help individual
                voices reach large scale audiences, to allow you to easily affect meaningful change. This will be available soon.
            </p>
            <p>As mentioned, CyclopediApp focuses on the major contributors of climate change and biodiversity loss. We’ll see why these matter in the intro.</p>
            <p>We’ve broken down the polluting sectors of our societies into sections. The first few sections focus on laying the foundation, to make sure everyone can keep up when we get to the main sections. For each of these main sections, solutions to
                reduce impacts at all scales are listed. In addition, a summary is provided to help readers remember the most important topics discussed in each overview – without having to read the whole thing over again. The last few sections are bonus
                rounds, where condensed analyses will help readers retrieve important information and a few more solutions. We strongly recommend reading all sections in order.</p>
            <p>One of CyclopediApp’s main goals is to provide reliable facts about the environmental crisis and its main contributors. However, we don’t just want you to take our word for it, so we’ve provided the source for each statistic we present – allowing
                you to take a look for yourself. We encourage you to challenge these figures with some research of your own. As you roam the internet, simply remember that statistics may differ by a few percentages depending on the source – but they should
                still be close enough to get the point across.</p>
            <p>For this version of CyclopediApp, let us know if you find a reliable source that directly contradicts one of ours. Visit the Crowdsourcing tab for more information.</p>
        </ion-text>



    </div>
    <!-- third section end (content) -->

</ion-content>