#cIcon {
    font-size: 64px;
}

// #card1{
//     padding-left: 3%;
//     padding-right: 3%;
//     border-radius: 20px 20px 20px 20px;
//     -moz-border-radius: 20px 20px 20px 20px;
//     -webkit-border-radius: 20px 20px 20px 20px;
//     border: 0px solid #000000;
//     //https://www.cssmatic.com/border-radius
//     -webkit-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     -moz-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
// }
// #card2{
//     padding-left: 3%;
//     padding-right: 3%;
//     border-radius: 20px 20px 20px 20px;
//     -moz-border-radius: 20px 20px 20px 20px;
//     -webkit-border-radius: 20px 20px 20px 20px;
//     border: 0px solid #000000;
//     //https://www.cssmatic.com/border-radius
//     -webkit-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     -moz-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
// }
// #card3{
//    border-radius: 20px 20px 20px 20px;
//     -moz-border-radius: 20px 20px 20px 20px;
//     -webkit-border-radius: 20px 20px 20px 20px;
//     border: 0px solid #000000;
//     //https://www.cssmatic.com/border-radius 
//     -webkit-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     -moz-box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
//     box-shadow: -7px 8px 7px -4px rgba(92,87,92,1);
// }
ion-slides {
    --bullet-background: rgb(58, 54, 54);
}

// ion-card{
//     // color:'dark';
//     border-color: rgba(195, 202, 243, 0.671);
//     // border-color: rgb(56, 128, 255);
//     border-width:medium;
//     border-style: solid;
//     border-radius:5%;
// }
@media (max-width: 820px) {
    .web-display {
        display: none;
    }
}

@media (min-width: 820px) {
    .mobile-display {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hidden-lg-down {
        display: none !important;
    }
    .phone{
        display: none;
    }
}

ion-card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 68px;
}

ion-card.article-card {
    height: 370px;
}

ion-card img {
    width: 600px;
    height: 200px;
    object-fit: cover;
}