#test1 {
    box-shadow: none !important;
    /* remove the border of the first card */

    
 }


 #test2 {
    
    box-shadow: -11px -14px 10px -6px rgba(237,17,17,1);
    /* useful tool to make shadow: https://www.cssmatic.com/box-shadow */

    border-radius: 0px 151px 151px 151px;
    border: 1px solid #000000;
 }


 ion-img {
    height: 50px;
    width: auto;
    
    position: relative;
   
  }