
  
  h1 {
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    color: #939fab;
    font-weight: 600;
  }
  
  
  
  .footer-text {
    text-align: center;
    font-size: 17px;
    margin-top: 45%;
  
    a {
      text-decoration: none;
      font-weight: 600;
      color: rgb(74, 128, 255);
    }
  }




  
  
    app-button {
      display: block;
      margin-top: 3rem;
    }
  
    

    ion-item{
      margin-left: -5%;
    }
  .footer-text {
    text-align: center;
    font-size: 17px;
    margin-top: 50%;
  
    a {
      text-decoration: none;
      font-weight: 600;
      color: rgb(74, 128, 255);
    }
  }


  .error-message{
    color: var(--ion-color-danger); 
   
  }


  /* ion-item {
    --border-color: var(--ion-color-primary);
  } */

  ion-item.ion-invalid.ion-touched { --border-color: var(--ion-color-danger); }

  ion-item.ion-valid.ion-touched { --border-color: var(--ion-color-primary); }

  ion-item.item-has-focus > ion-label{
    --color: var(--ion-color-primary);
  }

  form,ion-button{
    margin-top: 10%;
  }

 /*  ion-item{
    width: 90%;
    align-items: center
  } */

  ion-content{
    max-width: 600px;
    
  }

