<ion-toolbar>
  <ion-title>Article Card Edit</ion-title>
  <!-- <ion-buttons color = "primary" slot="primary" (click)="onclose()">Close</ion-buttons>  -->
  <ion-buttons slot="end">
    <ion-button (click)="onclose()">Close</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label>
      Article Title: 
    </ion-label>
    <ion-input type="text" [(ngModel)]="contentModal.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Article Subtitle: 
    </ion-label>
    <ion-input type="text" [(ngModel)]="contentModal.subtitle"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >
      Introduction:
    </ion-label>
    <ion-textarea rows="10" cols="20" type="text" [(ngModel)]="contentModal.cardIntroduction"></ion-textarea>
  </ion-item>
 
  <div id="button">
    <ion-button expand="block" color="tertiary" class="ion-margin-top" (click)="submit()">Save Changes</ion-button>
    <ion-button expand="block" color="danger" class="ion-margin-top" (click)="removeCard()">Delete Article</ion-button>
  </div>
</ion-content>