<ion-header>
  <ion-toolbar>
    <ion-title>Verify Your Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Thank You for Registering</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <ion-button type="button"  (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </ion-button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to?<span class="redirect" routerLink="/page-space-er"> Sign in</span></span>
      </div>
  
    </div>
  </div>
</ion-content>
