<ion-header>
  <ion-toolbar>
    <ion-title>Verify Your Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Thank You for Registering</h3>
  
        <div class="formGroup" >
          <p>We have sent a confirmation email.</p>
          <p>Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <p class="p1">Not received?</p>
          <ion-button type="button"  expand="block " (click)="authService.reSendVerificationMail()">
            
            Resend Verification Email
          </ion-button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>Go back to?  <span class="redirect" routerLink="/tabs/page-space-er"> Sign in</span></span>
      </div>
  
    </div>
  </div>
</ion-content>
