<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="displayTable">
    <div class="displayTableCell">
      <form class="authBlock" [formGroup]="resetForm">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <div class="formGroup">

          
          <ion-item class="formControl">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input  type = "email" formControlName="formEmail" #passwordResetEmail> </ion-input>
          </ion-item>

          <div *ngFor=" let error of errorMessages.email "> 
            <ng-container *ngIf=" resetForm.get('formEmail').hasError(error.type) && resetForm.get('formEmail').touched">
              <small class ="error-message" ><ion-icon name="information-circle-outline"></ion-icon>{{error.message}}</small>
            </ng-container>
          </div>

        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <small *ngIf="block">{{timeLeft}} Seconds Left....</small>
          <ion-button (click)="this.resetPassword(passwordResetEmail.value)" [disabled]="resetForm.invalid || block" >Reset Password</ion-button>
        </div>
      </form>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/login">Log In</span></span>
      </div>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/tabs/page-space-er">Home</span></span>
      </div>

     
    </div>
  </div>
</ion-content>
