<ion-header>
    <ion-toolbar>
        <ion-title>addData</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click)="deleteAllData()" expand="block ">
        delete all article data
    </ion-button>


    <ion-button (click)="addData()" expand="block ">
        initialize database(article data)
    </ion-button>

    <ion-button (click)="deleteUser()" expand="block ">
        delete all users
    </ion-button>

    <ion-button  expand="block ">
        Update current user as admin
    </ion-button>

    <!--initialize article tracking information in all users-->
    <ion-button (click)="initializeUserReadArticles()" expand="block ">
        Initialize users article progress information
    </ion-button>


</ion-content>