<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <ion-back-button defaultHref="/tabs/page-space-la"></ion-back-button> -->
            
            <ion-button  href="/tabs/page-space-la" >
                <ion-icon name="arrow-undo-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="font-size: 150%;">{{content.title}}</ion-title>
    </ion-toolbar>
    
    <ion-toolbar>
        <ion-segment  [(ngModel)]="status" scrollable color = "light">
            <ion-segment-button  text-wrap value="segment1">
                <ion-label>Intro</ion-label>
            </ion-segment-button>
            <ion-segment-button  text-wrap value="segment2">
                <ion-label>Climate Change</ion-label>
            </ion-segment-button>
            <ion-segment-button  text-wrap value="segment3">
                <ion-label>Biodiversity Loss</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
   
</ion-header>

<ion-content  class="ion-padding">


    <!--     <ion-segment>
        <a href="#climatechange">
            <ion-segment-button value="Intro" href="#intro" checked>
                <ion-label>Intro</ion-label>
            </ion-segment-button>
        </a>

        <ion-segment-button value="Climate Change" href="#climatechange">
            <ion-label>Climate Change</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Biodiversity Loss" href="#bio">
            <ion-label>Biodiversity Loss</ion-label>
        </ion-segment-button>
    </ion-segment> -->




    <div [ngSwitch]="status" class="article">
        <!-- default content -->
        <div *ngSwitchDefault>
            <img src="{{contents[articleId].image}}">
            <p id="intro">
               {{content.intro}}
            </p>

            <div id="button">
                <ion-button expand="block" (click) ="openModal()">Edit Content</ion-button>
                <ion-button expand="block" (click)="presentModal()">Send feedback</ion-button>
            </div>
        </div>


        <div *ngSwitchCase="'segment1'">
            <img src="../../assets/test.jpg">
            <p id="intro">
                Here, we’ll explore 2 of the most important aspects of the environmental crisis: climate change and biodiversity loss. We’ll see why mitigating each ‘sub-crisis’ is important for the planet and its millions of species, including humans. This section should
                provide a solid foundation before exploring additional sections, where we’ll often allude to greenhouse gas emissions and biodiversity loss. This will help readers understand the severity of emissions and toxic pollution, instead of just
                reading meaningless numbers.
            </p>
            <div id="button">
                <ion-button expand="block" (click) ="openModal()">Edit Content</ion-button>
                <ion-button expand="block" (click)="presentModal()">Send feedback</ion-button>
            </div>
        </div>
        

        <!-- Climate Change content in here -->

        <div *ngSwitchCase="'segment2'">
            <p id="intro">
                Climate change is not something that occurs overnight. </p>
            <p>
                The atmosphere consists of roughly 78% nitrogen, 21% oxygen, 1% argon – and just
                <ion-text id="popover" (click)="notifications($event)">0.04%</ion-text> carbon dioxide [CO2]. In this section, we’ll see how this ridiculously small percentage of CO2, along with other greenhouse gases [GHGs] in the atmosphere, can have remarkable consequences at the global scale.
            </p>
            <h1>
                The Earth’s Energy Balance
            </h1>
            <p><i>For the following section, think of radiation as energy or heat contained in a ray of light.</i></p>
            <p>
                The Sun emits light as shortwave radiation. The Earth heats as it absorbs some of that radiation, before sending a portion of that back towards space as longwave radiation. Unfortunately, the longwave type of radiation can be absorbed by CO2 and other
                GHGs. These gases then re-emit this energy in all directions. Here’s the issue: the energy that was supposed to be sent back to space is now partially redirected towards the Earth’s surface – which effectively traps heat in our atmosphere.
                What we’ve just explained here is the famous greenhouse effect, where heat is trapped in our atmosphere by the likes of CO2 and other GHGs. This effect has been taking place since our atmosphere formed billions of years ago and has played
                an important role in keeping the Earth warm, but now it’s making it a tad too hot – way too fast. We’ve recently released GHGs in the atmosphere in such quantities that the previously stable energy balance is now tilted in favor of heating
                the Earth.
            </p>
            <h1>
                Global Warming and Climate Change
            </h1>
            <p>
                By now, we hope you’ve guessed the consequence of the greenhouse effect: global warming. All the additional heat trapped in our atmosphere has been increasing our average global temperature. In fact, during the 2011-2020 period, global surface temperatures
                had increased by roughly
                <ion-text id="popover" (click)="notifications($event)">1.09°C</ion-text> compared to the 1850-1900 period. This shows once again that global warming is real and it began well over a century ago.
            </p>
            <h1>GHGs</h1>
            <p>
                Scientific consensus is
                <ion-text id="popover" (click)="notifications($event)">very clear</ion-text> that the atmosphere’s GHG content has been increasing rapidly because of human activity. Since 1750, atmospheric concentrations have risen by
                <ion-text id="popover" (click)="notifications($event)">47%</ion-text> for CO2,
                <ion-text id="popover" (click)="notifications($event)">156%</ion-text> for methane [CH4], and
                <ion-text id="popover" (click)="notifications($event)">23%</ion-text> for nitrous oxide [N2O]. In 2019, atmospheric CO2 concentrations were higher than at any point in the past
                <ion-text id="popover" (click)="notifications($event)">2</ion-text> million years, and we’ve emitted more CO2 since. Unfortunately, there are far more GHGs than just CO2 – and much more powerful ones too. For equal emissions [by mass], CO2 is
                <ion-text id="popover" (click)="notifications($event)">28</ion-text> times less greenhousy than methane and
                <ion-text id="popover" (click)="notifications($event)">22,800</ion-text> times less greenhousy than sulfur hexafluoride [‘greenhousy’ describes the
                <ion-text id="popover" (click)="notifications($event)">global warming potential</ion-text> of a gas – here, taken over 100 years]. However, we’ve been producing so much more CO2 in the past few centuries that it’s still the
                <ion-text id="popover" (click)="notifications($event)">largest</ion-text> contributor to global warming, with methane not too far behind.
            </p>
            <h1>
                From Global Warming to Climate Change
            </h1>
            <p>
                The Earth’s atmospheric and oceanic temperatures are 2 major reasons that our climates are the way they are. They play extremely critical roles in the global water and carbon cycles, dictate precipitation patterns, and help shape many of the world’s oceanic
                current systems. Unfortunately, that means that any slight variations in temperature can have devastating consequences at the global scale – notably by changing many climates at once. Climate change literally means changes in climate patterns
                and events. Cyclones, storm surges, heat waves, droughts, and extreme precipitations are all destructive climate events that are occurring more frequently and/or more intensely as a result of global warming. For example, global warming
                increases the atmosphere’s capacity to hold water vapor. In turn, this can cause more/bigger clouds to form, which can lead to more intense precipitation events [potentially causing floods]. This corroborates the projection that extreme
                daily precipitation events will intensify by roughly
                <ion-text id="popover" (click)="notifications($event)">7%</ion-text> for every +1°C of global warming, according to the Intergovernmental Panel on Climate Change [IPCC]. That may not sound significant, but we have to keep in mind that long-term global temperatures are projected to reach
                <ion-text id="popover" (click)="notifications($event)">+3.3-5.7°C</ion-text> under the “very high GHG emissions scenario”. So all the 7% intensifications can add up real fast if emissions aren’t curbed soon. Alas it’s even worse than that. Global warming and climate change are driving many
                long-term ‘irreversible’ effects that will have significant consequences worldwide. In particular, the IPCC has outlined the following points:
            </p>
            <ul>
                <li>
                    Mountain and polar glaciers are projected to continue
                    <ion-text id="popover" (click)="notifications($event)">melting</ion-text> for decades or centuries. Even if we were to drastically reduce our emissions in the coming decades [to limit warming to
                    <ion-text id="popover" (click)="notifications($event)">+1.5°C</ion-text> over the 21st century], the Arctic would still be likely to experience
                    <ion-text id="popover" (click)="notifications($event)">at least one</ion-text> sea ice free summer before 2050. And unsurprisingly, uncontrolled emissions in the near future would lead to
                    <ion-text id="popover" (click)="notifications($event)">far more occurrences</ion-text> of sea ice free summers in the Arctic.
                </li>
                <li>
                    GHGs contained in permafrost [i.e. grounds that are completely frozen] will irreversibly be
                    <ion-text id="popover" (click)="notifications($event)">released</ion-text> into the atmosphere during permafrost thaw, at centennial timescales. Preventing permafrost thaw as much as possible by reducing our emissions will be key to reduce the amount of GHGs released by the environment.
                    Otherwise, reaching the ‘tipping point’ for permafrost will induce more global warming, which can establish negative feedback loops [i.e. vicious circles] that end up causing even more irreversible damage.
                </li>
                <li>
                    The Greenland Ice Sheet will keep
                    <ion-text id="popover" (click)="notifications($event)">melting</ion-text> and the Antarctic Ice Sheet will
                    <ion-text id="popover" (click)="notifications($event)">likely</ion-text> do the same, although the total amount of ice loss remains to be seen. In Greenland, total ice loss will be
                    <ion-text id="popover" (click)="notifications($event)">heavily influenced</ion-text> by the amount of GHGs we emit in the next few decades [there isn’t a whole lot of evidence that would suggest the same is true for Antarctica, for now at least].
                </li>
                <li>
                    Sea level will continue to rise for
                    <ion-text id="popover" (click)="notifications($event)">hundreds to thousands</ion-text> of years, after which it will maintain its elevation for additional
                    <ion-text id="popover" (click)="notifications($event)">thousands of years</ion-text>. Over the next 2000 years for example, the average global sea level is expected to rise by roughly
                    <ion-text id="popover" (click)="notifications($event)">2-3</ion-text> meters if we limit global warming to +1.5°C, by
                    <ion-text id="popover" (click)="notifications($event)">2-6</ion-text> meters with a +2°C limit, or by
                    <ion-text id="popover" (click)="notifications($event)">19-22</ion-text> meters at +5°C [i.e. temperature reached in 2100]. And there’s a very real
                    <ion-text id="popover" (click)="notifications($event)">possibility</ion-text> that sea levels continue to rise after those 2000 years have passed, especially if we keep increasing the amount of GHGs we release every year. In the short term, the average global sea level rise will likely
                    be contained between
                    <ion-text id="popover" (click)="notifications($event)">0.28-2</ion-text> meters by 2100, depending on if we limit warming to +1.5°C or if we keep growing it to +5°C over the 21st century.
                </li>
            </ul>
            <p>
                Unfortunately, there are too many consequences to global warming and climate change to list them all here. However, a few of them can help us understand how humans will be directly impacted by these changes – notably by threatening global food and water
                security, increasing the likeliness and intensity of extreme weather events, and forcing climate migration on
                <ion-text id="popover" (click)="notifications($event)">hundreds of millions</ion-text> of individuals around the globe [among many more consequences].
            </p>
            <p>
                Sadly, many indirect effects will also drastically impact human lives, like biodiversity loss.
            </p>
            <h1>
                Climate Feedbacks
            </h1>
            <p>
                Global warming isn’t all due to GHG emissions, at least not directly. Interestingly, climate change has its own impacts on the Earth’s energy balance, known as ‘climate feedbacks’. We’ve seen a few examples of climate feedbacks already – between the release
                of permafrost GHGs, the melting of ice sheets and glaciers [which reflect radiation back toward space], and the increasing concentrations of water vapor in the atmosphere [a potent GHG]. In these examples of positive climate feedbacks,
                initial warming causes climate change, which itself amplifies the initial warming – which then induces additional climate change.
            </p>
            <h1>
                Climate vs. Weather
            </h1>
            <p>
                It’s important to note that global warming and climate change don’t imply that every day will be hotter than the last. Weather is not the same as climate. Weather describes short term events and temperatures that don’t really mean anything on their own
                – since weather is subject to internal and natural variability [i.e. a certain level of randomness]. On the other hand, climate is pretty much just weather averaged out over longer periods of time. As such, climate change is responsible
                for increasing the likeliness of extreme weather events – but can’t guarantee that they will take place at any given moment. Similarly, a single record-breaking temperature could not confirm climate change is real, nor could a freezing
                temperature refute it. That being said, when year after year we measure record-breaking daily, weekly, monthly, and annual temperatures [or extreme weather events] in very different parts of the world, it becomes pretty clear that global
                warming and climate change are already here. It’s no longer the future generation’s problem.
            </p>

            <div id="button">
                <ion-button expand="block" (click) ="openModal()">Edit Content</ion-button>
                <ion-button expand="block" (click)="presentModal()">Send feedback</ion-button>
            </div>
        </div>



        <!-- Biodiversity content in here -->

        <div *ngSwitchCase="'segment3'">
            <p id="climatechange">
                Biodiversity loss may not get as much attention as climate change does, but it’s just as bad. Biodiversity can be defined in a number of ways. Here, we’ll define it as the grouping of the genetic, species, and ecosystem diversities all into one. As we’ll
                see in this section, these 3 types of diversities are all interconnected and interdependent.
            </p>
            <h1>
                Genetic Diversity
            </h1>
            <p>
                Genetic diversity describes the total number of genetic variations that a species has in its gene pool. For an example of a genetic variation, think of the human gene that determines eye color, where variations can range from black to blue, or even light
                gray. Strong genetic diversity is driven by numerous different genetic variations that are ‘mixed’ together during reproduction. With greater gene pools, the odds that 2 mating individuals will have different genetic codes is higher. Strong
                genetic diversity within a species is closely related to their strength and ability to survive. As a counterexample, think of 2 siblings that reproduce [whose genetic code is very similar], their children have a higher risk of being born
                with disabilities. With more diverse individuals, the species will adapt better to their ever-evolving environment, making the species stronger as a whole.
            </p>
            <h1>
                Species Diversity
            </h1>
            <p>
                Species diversity is self-explanatory. A higher number of different animals and plants leads to greater species diversity. One easy way to show the importance of species diversity is with the food chain. We all know at least one example of the ‘ladder’
                that features the ultimate predators [like a lion] at the top and the defenseless prey [like grass] at the bottom. Each species feeds on the ladder step below itself – but would not survive without it. Strong species diversity implies
                that a predator will not have to depend on a single prey. Instead, the predator will have multiple options that can satisfy its diet. This way, when the population of one of the prey species lowers, the predator will predate more on the
                other sources of food due to the prey’s rareness [not a conscious choice, just statistical]. Contrarily, if a prey species threatens to become invasive due to an increase in population size, predators are more likely to feed on it. This
                provides balance within the ecosystem as it regulates and limits each species’ demography – ensuring that resources aren’t over-exploited by a single species. A balanced and diverse ecosystem is a strong ecosystem. Where a weak ecosystem’s
                food chain is dependent on each ladder step, a strong ecosystem can be visualized as multiple ladders side-by-side. If a ladder step is weakened, you can always rely on the other steps next to it.
            </p>
            <h1>
                Ecosystem Diversity
            </h1>
            <p>
                Ecosystem diversity is extremely important as well and its effects are easier to visualize than for the previous two. An ecosystem is a natural environment in which plants, animals, and their surroundings coexist in balance. Many different ecosystems
                exist around the world, and they all help regulate the Earth. Jungles, deserts, glaciers, savannahs, reefs, prairies, oceans, and many more all have unique characteristics that literally make the world a better place. Jungles and forests
                for example, play an essential role in the water and carbon cycles. Deserts and glaciers may seem like uninhabitable wastes of space, but they help regulate the Earth’s temperature with their reflectiveness. Oceans don’t reflect much,
                but they do help mitigate global warming by absorbing a
                <ion-text id="popover" (click)="notifications($event)">quarter</ion-text> of our CO2 emissions every year. Maintaining our diverse ecosystems around the globe is essential if we are to preserve our remaining natural environments and the life they contain, improve yields, limit global warming,
                mitigate the effects of climate change, and more. If it had to be summed up in a single sentence: biodiversity helps improve/preserve anything that involves the natural world – which we depend on heavily.
            </p>
            <h1>
                Threats
            </h1>
            <p>
                Biodiversity is beautiful and balanced – but fragile. 5 major causes of biodiversity loss are a direct result of human activity, following the acronym
                <ion-text id="popover" (click)="notifications($event)">H.I.C.O.P.</ion-text>: Habitat loss describes the physical deterioration or ‘shrinking’ of a species’ environment. Affected species are seeing huge declines in their population size, and many are forced to migrate quickly into other ecosystems
                all at once, significantly unbalancing it. This can cause invasive species. Invasive species are characterized as such when a single species starts dominating an ecosystem. This considerably weakens ecosystems as it does not allow species
                diversity or balance. They are especially a problem when foreign species integrate a new environment and start outcompeting native species, as the native species are often crucial for ensuring ecosystem balance. Invasive species can occur
                naturally, but are often a consequence of human activity because of a rapid change in their environment. Climate change describes the change in the climate due to human activity. Since you’ve made it this far, we’re going to assume you
                know what we’re talking about. Climate change can seriously affect biodiversity, as it threatens species that depend on a stable climate pattern. The list of such species isn’t limited to polar bears and penguins – species all around the
                world have adapted to a very specific climate. An abrupt change in the climate [like the one we’re seeing now] severely endangers all species as they do not have time to adapt to different living conditions in such a short amount of time.
                Overharvesting describes the excessive and destructive tendency we have to hunt species faster than they can procreate, or grow crops faster than soil can heal. It takes no expert to see that this leads to extinction of animal species
                and degradation of croplands. This human characteristic isn’t new or unheard of. With examples ranging from the wooly mammoth to the dodo bird, humans haven’t always shown their long-term thinking capabilities. As species go extinct and
                soil fertility drops, biodiversity levels decrease and entire ecosystems weaken. Pollution describes the contamination of any environment that results in nature degradation. Air, water, soil, and noise. These don’t describe
                <ion-text id="popover" (click)="notifications($event)">The Last Airbender</ion-text>‘s 4 nations, these are all serious types of pollution. Toxicity present in the first 3 elements directly endangers species – especially those that live near sources of pollution. Often overlooked, noise pollution
                also impacts nearby species, since some of them rely on their hearing for survival and mating calls. It’s not just near cities either. Pollution can occur in remote parts of the world where biodiversity is strong, as shown by the Deepwater
                Horizon oil spill of 2010. Pollution significantly weakens ecosystems as both its species and their environment are damaged simultaneously.
            </p>
            <div id="button">
                <ion-button expand="block" (click) ="openModal()">Edit Content</ion-button>
                <ion-button expand="block" (click)="presentModal()">Send feedback</ion-button>
            </div>
        </div>

    </div>

</ion-content>